.DyqA8Bgv {
  display: flex;
  width: 100%;
  padding: 16px;
  background-color: #fff;
  border-radius: 4px;
}
.pSIl_fr6 {
  display: flex;
  font-weight: 700;
}
.Y9NT__lk {
  cursor: pointer;
}
.Y9NT__lk:hover {
  color: #e10098;
}
.__7C_TibQ4 {
  cursor: pointer;
}
.__7C_TibQ4:hover {
  color: #e10098;
}
.y2ngpDxj {
  text-decoration: line-through;
}
.__5pJigJSw {
  color: #faad14;
}
._sgBjBCu .ant-table-cell {
  padding: 8px;
}
.JS1bNLvD {
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
  height: calc(100vh - 56px - 24px * 2);
  overflow-y: auto;
  overflow-x: hidden;
  width: 320px;
  border-radius: 4px;
  margin-right: 24px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.YDfjPWAo {
  margin-top: 24px;
  overflow: auto;
}
.xueqoeeU {
  border-top: 1px solid #eee;
  padding: 8px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
}
.xueqoeeU:hover {
  background-color: #eee;
}
.xueqoeeU:last-of-type {
  border-bottom: 1px solid #eee;
}
.__7BEAiLol {
  background-color: #eee;
}
.pIasM2qY {
  position: absolute;
  bottom: 40px;
  left: 260px;
  font-size: 30px;
  border-radius: 20px;
  color: #666;
  cursor: pointer;
  transform: scale(0);
  transition: all 0.3s ease;
}
.X8hSc13z {
  display: inline-block;
  transform: scale(1);
  opacity: 1;
}
.swn6I4Fh {
  position: relative;
}
.KmCI8wr8 {
  position: absolute;
  right: 0;
  top: -48px;
  cursor: pointer;
}
.KmCI8wr8:hover {
  color: #e10098;
}
.xUnsXBVt {
  text-decoration: line-through;
}
.Iv8AAXIc {
  color: #faad14;
}
.yv_HXrtZ {
  padding-top: 56px;
  background-color: #e6e8ec;
}
.u_jz5K7Z {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  padding: 0 24px;
  border-bottom: 1px solid #eee;
  background-color: #fff;
  z-index: 1000;
  box-shadow: 0 2px 8px #f0f1f2;
  background: url([object Object]);
  background-size: 100% 100%;
  background-position: 0 0;
  background-color: #171e26;
  color: #fff;
}
.__2HdoX1q_ {
  height: 32px;
  line-height: 32px;
}
.qzSLGtDB {
  margin-left: 8px;
  font-weight: 700;
}
.MUNLv3Nx {
  margin-left: 24px;
  display: flex;
  align-items: center;
}
.MUNLv3Nx a {
  height: 100%;
  padding: 0 16px;
  font-size: 15px;
  color: #fff;
  text-decoration: none;
}
.MUNLv3Nx a.hJ5QSYW8 {
  font-weight: 500;
  color: #e10098;
}
.Ro_A4Z_e {
  display: flex;
  min-height: calc(100vh - 56px);
  padding: 24px;
}
.WMVv7XJZ {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
